# editor settings
.vscode/
.idea/
.ccls
compile_commands.json
.cache/

# OS Specific file
.DS_Store
.bochsrc
bochs.log

# Build files
*.o
*ao
*.aso
*.d
*.iso
*.elf
*.map
*.hdd

# Not our stuff
src/acpi/lai/

# Binary bootloader files
resources/limine.sys 

# Other folders
cross/
build/
echfs/
limine/
build/
src/acpi/lai/*
